
name: CI


on:
  push:
    branches: [ "main" ]
    tags: [ "v0.*", "v1.*" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch: {}


jobs:
  check:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install isort==5.10.1 flake8==3.8.3

    - name: Check coding style (flake8)
      run: "flake8 alsa_midi tests"

    - name: Check imports sorting (isort)
      run: "isort --check --dont-follow-links alsa_midi tests"

  test:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install tox
        sudo apt update
        sudo apt install -y libasound2-dev

    - name: Run tests
      run: "tox -e py -- -vv"

  test-on-alsa-kernel:
    runs-on: macos-10.15

    steps:
    - uses: actions/checkout@v2

    - name: Cache Vagrant boxes
      uses: actions/cache@v2
      with:
        path: ~/.vagrant.d/boxes
        key: ${{ runner.os }}-vagrant-${{ hashFiles('Vagrantfile') }}
        restore-keys: |
          ${{ runner.os }}-vagrant-

    - name: Start vagrant VM
      run: |
        cp tests/Vagrantfile .
        vagrant up

    - name: Run tests in vagrant vm
      run: |
        vagrant ssh vm -c 'cd /vagrant && PATH="$PATH:$HOME/.local/bin" && tox -e py -- -vv'


  build-dist:

    needs:
      - test
      - test-on-alsa-kernel

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install build twine
        sudo apt update

    - name: Build
      run: |
        export PY_ALSA_MIDI_NO_COMPILE=1
        python -m build .
        twine check dist/*

    - name: Upload artifacts
      uses: actions/upload-artifact@v2
      with:
        name: dist-pure
        path: dist

  build-manylinux-wheels:

    needs:
      - test
      - test-on-alsa-kernel

    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        manylinux-tag: ["manylinux2010_x86_64", "manylinux2014_x86_64", "manylinux_2_24_x86_64", "manylinux2010_i686", "manylinux2014_i686", "manylinux_2_24_686"]
        include:
          - manylinux-tag: manylinux2010_i686
            pre-cmd: linux32
          - manylinux-tag: manylinux2014_i686
            pre-cmd: linux32
          - manylinux-tag: manylinux_2_24_i686
            pre-cmd: linux32
      
    container:
      image: docker://quay.io/pypa/${{ matrix.manylinux-tag }}

    steps:
    - name: Checkout the code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Build ${{ matrix.manylinux-tag }} wheels
      run: |
        ./build-wheels.sh ${{ matrix.pre-cmd }} ${{ matrix.manylinux-tag }}

    - name: Upload artifacts
      uses: actions/upload-artifact@v2
      with:
        name: wheelhouse-${{ matrix.manylinux-tag }}
        path: wheelhouse


  publish:

    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')

    needs: ["build-dist", "build-manylinux-wheels"]

    runs-on: ubuntu-latest

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v2

      - name: Collect dist files
        run: |
          ls -lR .
          mkdir -p dist
          mv wheelhouse-*/*/*manylinux*.whl dist/
          mv dist-pure/*/*.tar.gz dist/

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
          repository_url: https://test.pypi.org/legacy/
